

.about-me {
    order: 2;
    height: 53.3vh;
    width: 30%;
    font-size: 1.1em;
}

button#TS-next-btn,#TS-prev-btn {
    width: 5em;
    height: 30vh;
    z-index: 10;
    position: absolute;
}

button#TS-prev-btn {
    left: .4%;
}

button#TS-next-btn {
    top: 69.1%;
    right: .4%;
}

.tech-slider {
    height: 30vh;
    background-color: pink;
}

.tech-slider-inner {
    width: 100%;
    overflow: auto;
}

.active {

}

.hide {
    display: none!important;
}

#b-end-tech {

}

.tech-slider-inner>div {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    height: 30vh;
    width: 100%;
}

.tech-slider-inner>div>p {
    /* float: left; */
}

.tech-slider-inner>div>p>img {
    width: 10em;
}



