.about-me {
    order: 2;
    height: 53.3vh;
    width: 30%;
    font-size: 1.5em;
}

button#caro-prev-btn {
    /* place-self: stretch flex-start; */
}

button#caro-next-btn,#caro-prev-btn {
    width: 5em;
}

.tech-carousel-inner>p>img {
    width: 13em;
}

.tech-carousel {
    display: flex;
    background-color: pink;
}

.tech-carousel-inner {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: black;
    height: 30vh;
}

