.about-me {
    order: 2;
    height: 53.3vh;
    width: 30%;
    font-size: 1.5em;
}

button#slide-next-btn,#slide-prev-btn {
    width: 5em;
    position: absolute;
}

button#slide-prev-btn {
    left: 5%;
}

button#slide-next-btn {
    right: 0%;
}

.tech-slider {
    height: 30vh;
    background-color: pink;
}

.tech-slider-inner {
    width: 100%;
    overflow: hidden;
}

.f-end-tech {

}

.tech-slider-inner>div {
    position: absolute;
    display: inline-block;
    background-color: black;
    height: 30vh;
    width: 100%;
}

.tech-slider-inner>div>p {
    float: left;
}

.tech-slider-inner>div>p>img {
    width: 10em;
}



