button.btn-left.btn-right {
    width: 15%;
    /* height: 15vh; */
    /* background-color: red; */
}

.btn-left {
    order: 1;
}

.btn-right {
    order: 3;
}

.contact-cont>a>p>img {
    width: 2em;   
}